.plan {margin-right: -2px !important;}
.plan2 tbody tr td {padding: 5.8px 0px !important;}
.pict {position: static !important;}
.plan tbody td {padding: 10.3px 0 10.3px 15px;}
.but {margin-left: 100px !important;}
.effect-zoe figcaption {height: 97.5% !important;}
