/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,italic,700italic&subset=cyrillic-ext,latin);*/

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
/* ==========================================================================
   COL
   ========================================================================== */
html, body {
    height:100%;
    min-height:100%;
    width: 100%;
    min-width: 100%;
    font-family: Arial, sans-serif;
}
.page {
    width: 100%;
    min-width: 1000px;
   /* overflow: hidden;*/
}
.wrap {
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    height: 100%;
}
.wrap_in {
    padding: 0 5px;
}
#wrapper {
    width: 100%;
    position: relative;
    padding:0;
}
.section {
    clear: both;
    padding: 0;
    margin: 0;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
header {
    background: #3d4858;
    /*height: 49px;*/
}
.main_menu {
    padding: 13px 0 14px 0;
}
.main_menu li {
    display: inline-block;
    margin:0 30px 0 0;
}
.main_menu li a {
    color: #c0c0c0;
    letter-spacing: 0.02em;
}
.main_menu li a:hover {
    color: #fff;
}
/*.selected a{
    font-weight: bold;
    color: #fff !important;
}
.main_menu li:nth-child(1) {
    width: 70px;
}
.main_menu li:nth-child(2) {
    width: 142px;
}*/
.main_menu, .person {
    display: inline-block;
}
.person {
    float: right;
    color: #fff;
    margin: 13px 0 0;
    background: url("../img/person.png")no-repeat scroll 0 1px;
    padding: 0 0 0 22px;
}
.person:hover {
    color: #e7a614;
    background: url("../img/person-2.png")no-repeat scroll 0 1px;
}
.logo {
    display: inline-block;
    background: url("../img/logo.png")no-repeat;
    padding: 0 0 0 80px;
    margin: 20px 0 0;
    font: 19px/24px Georgia, sans-serif;
    color: #203756;
}
.button {
    border-radius: 4px;
    border: none;
    outline: none;
    -webkit-transition: 0.2s ease-in-out ;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.button_pay {
    font-size: 16px;
    color: #fff;
    padding: 14px 29px 12px 30px;
    float: right;
    margin: 23px 0;
    letter-spacing: 0.02em;
    font-weight: 600;
}
button[disabled] {opacity: 0.6;}
.color1 {
    background: #e7a614;
    border-bottom: 1px solid #b55f00;

}
.color1:hover:not([disabled]) {
    background: #ecb843;
    border-bottom: 1px solid #c47f33;
}
.color2 {
    background: #e47100;
    border-bottom: 1px solid #b55f00;

}
.color2:hover:not([disabled]) {
    background: #e97833;
    border-bottom: 1px solid #c47f33;
}
/* ==========================================================================
   CHANGES
   ========================================================================== */
.changes {
    background: url(../img/fon.jpg)no-repeat center top, url("../img/background.png")repeat-x #e7ebec;
    padding: 50px 0 0;
}
.changes h1 {
    margin: 0;
    padding: 0;
    font: 43px/44px Georgia, sans-serif;
    color: #fff;
}
.changes h1 small {
    font-size: 33px;
}
.changes h2 {
    font: 43px Georgia, sans-serif;
    margin: 22px 0 0;
    color: #203756;
}
.cursor {
    color: #2a2a2a;
    line-height: 20px;
    position: relative;
    padding: 0 0 0 55px;
    margin-bottom: 25px;
}
.cursor:before {
    position: absolute;
    content: "";
    width: 41px;
    height: 41px;
    left: 0;
    background: url("../img/cursor.png")no-repeat;
}
.left_info {
    float: left;
    position: relative;
}
.right_info {
    float: right;
    position: relative;
    text-align: right;
}
.changes .right_info {-webkit-backface-visibility: hidden;}
.left_info, .house, .right_info {
    display: inline-block;
}
.recover_type {
    padding: 30px 32px 0 15px;
    width: 303px;
    height: 182px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(42, 87, 117, 0.19);
    -moz-box-shadow:    1px 1px 3px 0px rgba(42, 87, 117, 0.19);
    box-shadow:         1px 1px 3px 0px rgba(42, 87, 117, 0.19);
    margin: 0 0 111px;
    position: relative;
    z-index: 300;
}
/*.recover_list {
    padding: 35px 0 0;
}*/
.recover_list li {
    display: inline-block;
    padding-bottom: 44px;
    width: 48%;
}
.recover_list li a{
    font-size: 16px;
    color: #3d4858;
    position: relative;
    padding: 5px 0 7px 62px;
}
.recover_list li a:before {
    position: absolute;
    content: "";
}
.rec1:before {
    background: url("../img/recover_list1.png")no-repeat;
    width: 29px;
    height: 28px;
    left: 22px;
    top:1px;
}
.rec2:before {
    background: url("../img/recover_list4.png")no-repeat;
    width: 36px;
    height: 14px;
    left: 18px;
    top:8px;
}
.rec3:before {
    background: url("../img/recover_list2.png")no-repeat;
    width: 27px;
    height: 20px;
    left: 24px;
    top:2px;
}
.rec4:before {
    background: url("../img/recover_list5.png")no-repeat;
    width: 28px;
    height: 16px;
    left: 22px;
    top:5px;
}
.rec5:before {
    background: url("../img/recover_list3.png")no-repeat;
    width: 23px;
    height: 26px;
    left: 26px;
    top:-1px;
}
.rec6:before {
    background: url("../img/recover_list6.png")no-repeat;
    width: 34px;
    height: 18px;
    left: 20px;
}
.lift_in {
    padding: 0 0 0 70px;
    display: none;
}
.rec_h {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    position: relative;
}
.rec_h:before {
    position: absolute;
    content: "";
    background: url("../img/recover_list33.png")no-repeat;
    width: 34px;
    height: 40px;
    left: -50px;
}
.rec_text {
    font-size: 15px;
    line-height: 20px;
    margin: 2px 0 12px;
}
.rec_button {
    font-size: 16px;
    color: #fff;
    padding: 9px 31px 10px;
    display: block;
}
.social_icon {
    position: relative;
    width: 31px;
    height: 31px;
    display: inline-block;
    margin: 10px 6px 0 0;
    /*-webkit-transition: 0.2s ease-in-out ;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;*/
}
.social_icon:last-child {margin-right: 0;}
.ts {background:url("../img/socials.png")no-repeat;}
.ts:after {
    position: absolute;
    content: '';
    width: 31px;
    height: 31px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:url("../img/socials.png")no-repeat;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition:    opacity 0.2s;
    -o-transition:      opacity 0.2s;
    transition: opacity 0.2s;
}
.ts:hover:after {opacity: 1;}
.youtube{background-position: 0 0;}
.facebook{background-position: 0 -32px;}
.twitter{background-position: 0 -64px;}
.vk{background-position: 0 -96px;}
.gplus{background-position: 0 -128px;}
.life_journal{background-position: 0 -160px;}
.youtube:after {background-position: 0 -192px;}
.facebook:after{background-position: 0 -224px;}
.twitter:after{background-position: 0 -256px;}
.vk:after{background-position: 0 -288px;}
.gplus:after{background-position: 0 -320px;}
.life_journal:after{background-position: 0 -352px;}
.available {
    color: #fff;
    position: relative;
    margin: 18px 0 45px;
    padding: 0 86px 0 0;
    display: block;
    -webkit-backface-visibility: hidden;
}
.available:after {
    position: absolute;
    content: "";
    width: 72px;
    height: 36px;
    background: url("../img/gadjets.png")no-repeat;
    right: 0;
    top: -10px;
}
.search {
    width: 333px;
    position: relative;
    margin-top:25px;
    -webkit-backface-visibility: hidden;
}
.search input {border: none;}
.search .input {
    color: #000;
    background: #fff;
    font-size: 20px;
    width: 100%;
    padding: 19px 42px 18px 18px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-backface-visibility: hidden;
}
.input::-webkit-input-placeholder {color:#a9a9a9;}
.input::-moz-placeholder          {color:#a9a9a9;}
.input:-ms-input-placeholder      {color:#a9a9a9;}
.search .submit {
    position: absolute;
    top: 1px;
    right: 14px;
    width: 22px;
    height: 100%;
    cursor: pointer;
    background: url(../img/search_icon.png) 50% no-repeat;
    outline: none;
}
input[type="search"] {-webkit-appearance: none;}
.map {
    position: relative;
    text-decoration: underline;
    color: #1f8dd5;
    padding: 0 0 0 50px;
    display: inline-block;
    margin: 19px 0;
    -webkit-backface-visibility: hidden;
}
.map:before {
    position: absolute;
    content: "";
    background: url("../img/imap.png")no-repeat;
    width: 40px;
    height: 37px;
    left: 0;
    top:-8px;
}
.quiz {
    position: relative;
    color: #3d4858;
    text-align: left;
    padding: 0 0 0 33px;
    line-height: 20px;
    display: block;
    margin: 0 0 48px;
    -webkit-backface-visibility: hidden;
}
.quiz:before {
    position: absolute;
    content: "";
    background: url("../img/arrow.png")no-repeat;
    width: 22px;
    height: 49px;
    left: 1px;
    top:-45px;
}
.button_complain {
    font-size: 20px;
    color: #fff;
    padding: 14px 37px;
    display: block;
    margin: 0 0 14px;
    -webkit-backface-visibility: hidden;
}
.button_complain2 {
    font-size: 20px;
    color: #fff;
    padding: 14px 40px;
    display: block;
    margin: 0 0 14px;
    -webkit-backface-visibility: hidden;
}
.house {
    position: relative;
}
.project-details {
   /* -webkit-backface-visibility: hidden;*/
    width: 100%;
    height: 100%;
    position: relative;
}
.switch, .switch-in {
    position: absolute;
    background-repeat: no-repeat;
    display: block;
}
.switch-in {
    width: 31px;
    height: 31px;
    background: #e8bb52;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   /* border: 3px solid #fff;*/

    -webkit-transition: 0.2s ease-in-out ;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    top:2px;
    left: 2px;
}
.switch-in2 {
    width: 34px;
    height: 34px;
    background: url("../img/circle1.svg")no-repeat;
    position: absolute;
    display: block;
    -webkit-transition: 0.2s ease-in-out ;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.switch-in1 {
    -ms-transform: scale(1.2);;
    -webkit-transform: scale(1.2);;
    transform: scale(1.2);
    -webkit-backface-visibility: hidden;
    background: #e47100;
    outline: none !important;
}
.switch-in3 {
    -ms-transform: scale(1.2);;
    -webkit-transform: scale(1.2);;
    transform: scale(1.2);
}
.project-details:hover .switch-in{
    background: #f2ca6e;
}
.project-details:hover .switch-in1 {
    background:  #e97833;
}
.switch {
    background: url("../img/cross.svg") no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 2;
    top:10px;
    left:10px;
    outline: none !important;
}
.roof, .front, .lift, .foundation, .vis, .basement {position: absolute;}
.roof {
    top:100px;
    left: 30px;
}
.front {
    top: 216px;
    left: -31px;
}
.lift {
    top:340px;
    left: 60px;
}
.foundation {
    top: 497px;
    left: -90px;
}
.vis {
    top: 503px;
    left: -28px;
}
.basement {
    top: 502px;
    left: 92px;
}
.roof .bubble {
    top: -52px;
    left: -50px;
}
.front .bubble {
    top: -52px;
    left: -57px;
}
.lift .bubble {
    top: -52px;
    left: -54px;
}
.foundation .bubble {
    top: -52px;
    left: -72px;
}
.vis .bubble {
    top: -52px;
    left: -45px;
}
.basement .bubble {
    top: -52px;
    left: -56px;
}
/* ==========================================================================
   HOT_LINE
   ========================================================================== */
.hot_line {
    background: #3d4858;
}
.hot {
    width: 710px;
    margin: 20px auto 24px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.hot span:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    background: url("../img/hot_line.png")no-repeat;
    padding:  0 0 0 42px;
    display: inline-block;
}
.hot span:nth-child(3) {
    opacity: 0.6;
}
/* ==========================================================================
   BLOCK2
   ========================================================================== */
.block2 h2, .block3 h2, .news_block h2 {
    font: 43px/50px Georgia, sans-serif;
    margin: 30px 0;
    color: #203756;
}
.block2 h2 {
    margin-bottom: -30px !important;
}
.mo_map, .right_info {
    display: inline-block;
    position:  relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.block2 .right_info {
    text-align: left;
    position: absolute;
   /* margin-left: -60px;*/
}
.moscow_region {
    background: #3d4858;
    position: absolute;
    top:10px;
    right: 1px;
    width: 370px;
    z-index: 300;
}
.moscow_region p {
    margin: 20px;
}
/***************selectbox*****************/
.dropcontainer_demo2 {
    position:relative;
    font-size: 16px;
    color: #777;
    z-index: 300;
}
.trigger_demo2 {
    color: #454545;
    padding: 9px 0 7px 13px;
    font-size: 16px;
    width: 330px;
    background: #fff url(../img/select_arrow.png) 96% center no-repeat;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: auto;
    letter-spacing: 0.02em;
}
.activetrigger_demo2 {
    color: rgba(69,69,69,0.5);
    border-bottom: 1px solid #3d4858;
    padding: 9px 0 7px 13px;
    font-size: 16px;
    width: 330px;
    background: #fff url(../img/select_arrow.png) 96% center no-repeat;
    display: block;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.02em;
}
.activetrigger_demo2:active {
    background: #f5f5f5 url(../img/select_arrow.png) 96% center no-repeat;
    color: #777;
}
.dropcontainer_demo2 ul {
    font-size: 16px;
    border-top: none;
    background: #fff;
    list-style-type: none;
    padding: 10px;
    width: 330px;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    letter-spacing: 0.02em;
}
.dropcontainer_demo2 ul li {
    padding: 5px;
    color: #454545;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.dropcontainer_demo2 ul li a {color: #454545;}
.dropcontainer_demo2 ul li:hover {
    background: #e3eaf2;
    outline: none;
}
.dropcontainer_demo2 ul li:first-child  {display: none;}
.dropdownhidden_demo2 { display: none;}
.dropdownvisible_demo2 {height: auto;}
.dropdownvisible_demo2 {
    height: 505px;
    overflow-y: auto;
}
/**************end selectbox******************/
.plan_both {
    margin: 87px 0 0;
    border-collapse: collapse;
    /* -webkit-box-shadow: 1px 1px 3px 0px rgba(42, 87, 117, 0.19);
     -moz-box-shadow:    1px 1px 3px 0px rgba(42, 87, 117, 0.19);
     box-shadow:         1px 1px 3px 0px rgba(42, 87, 117, 0.19);*/
}
.plan_both td {vertical-align: top;}
.plan {
    margin-right: -1px;
    table-layout: fixed;
    width: 185px;
}
.plan th {
    height: 51px;
    color: #fff;
    text-transform: uppercase;
    font: 15px Georgia, sans-serif;
    background: #888f98;
    border-bottom: 1px solid #3d4858;
    border-right: 1px solid #3d4858;
    padding: 0 29px;
}
.plan tbody {
    background: #f9f9f9;
    border-right: 1px solid #dadada;
    letter-spacing: 0.02em;
}
.plan tbody td {
    /*height: 77px;*/
    border-bottom: 1px solid #dadada;
    font-size: 14px;
    color: #454545;
    padding: 15px 0 15px 15px;
}
.table_graph, .table_graph2, .table_graph3, .table_graph4, .table_graph5 {
    position: relative;
    font: 20px 'Open Sans', sans-serif;
    font-weight: 700;
}
.table_graph small, .table_graph2 small, .table_graph3 small, .table_graph4 small, .table_graph5 small {
    font-size: 14px;
}
.table_graph, .table_graph4, .table_graph5 {
    padding: 0 0 0 35px;
}
.table_graph:before {
    position: absolute;
    content: "";
    background: url("../img/table11.png") no-repeat;
    width: 23px;
    height: 24px;
    left: 0px;
}
.table_graph2, .table_graph3 {
    padding: 0 0 0 50px;
}
.table_graph2:before {
    position: absolute;
    content: "";
    background: url("../img/table12.png") no-repeat;
    width: 47px;
    height: 23px;
    left: 0px;
    top:2px;
}
.table_graph3:before {
    position: absolute;
    content: "";
    background: url("../img/table13.png") no-repeat;
    width: 47px;
    height: 25px;
    left: 0px;
    top:0px;
}
.table_graph4:before {
    position: absolute;
    content: "";
    background: url("../img/table14.png") no-repeat;
    width: 24px;
    height: 23px;
    left: 0px;
    top:0px;
}
.table_graph5:before {
    position: absolute;
    content: "";
    background: url("../img/table15.png") no-repeat;
    width: 25px;
    height: 28px;
    left: 0px;
    top:0px;
}
.plan2 {
    text-align: center;
    table-layout: fixed;
    width: 185px;
}
.plan2 th {
    height: 51px;
    color: #fff;
    text-transform: uppercase;
    font: 15px Georgia, sans-serif;
    border-bottom: 1px solid #3d4858;
    background: #767d89;
    padding: 0 13px;
    /*border-right: 1px solid #767d89*/
}
.plan2 tbody  tr td {
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    font-size: 14px;
    line-height: 18px;
    color: #454545;
    background: #f3f3f3;
    letter-spacing: 0.02em;
    padding: 5px 0;
}
.plan2 tbody tr td:last-child {
    border-right: none;
}
.p1 {padding: 14px 0 13px !important;}
.grey {background: #eaeaea !important;}
.pict {
    /*height: 25px !important;*/
    position: relative;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.pict a {outline: none;}
.but {padding: 15px 0 15px 15px !important;background: #ededed !important;}
.in {
    font: 16px 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 42px !important;
}
.pict:hover {
    background: #f9f9f9;
    cursor: pointer;
}
/*.pict:hover .bubble {
    display: block;
}*/
.bubble {
    position: absolute;
    display: none;
    color: #fff;
    background: rgba(61,72,88,0.9);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   /* -webkit-box-shadow: 0px 1px 6px 0px rgba(3, 3, 3, 0.3);
    -moz-box-shadow: 0px 1px 6px 0px rgba(3, 3, 3, 0.3);
    box-shadow: 0px 1px 6px 0px rgba(3, 3, 3, 0.3);
    border: 1px solid #fff;*/
    padding: 9px 14px;
    white-space: pre;
    top:-85%;
    left:-60%;
}
/*.bubble:before {
    position: absolute;
    content: '';
    width: 19px;
    height: 15px;
    left: 40%;
    bottom: -16px;
    background: url("../img/ygol.png")no-repeat;
}*/
.bubble:after, .bubble:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.bubble:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: rgba(61,72,88,0.9);
    border-width: 10px;
    margin-left: -10px;
}
.bubble:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: rgba(61,72,88,0.9);

    border-width: 11px;
    margin-left: -11px;
}
.fund {left:-90% !important;}
.vis {left: -45% !important;}
.mouse {
    position: absolute;
    margin: 530px 0 0px 70px;
    color: #2a2a2a;
    font-size: 15px;
    line-height: 20px;
}
.mouse:before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background: url("../img/mouse.png")no-repeat;
    left: -70px;
    top:2px;
}
/* ==========================================================================
   BLOCK3
   ========================================================================== */
.block3 h2 {
    margin-bottom: 25px !important;
}
.block3 h2 small {
    font-size: 33px !important;
    font-weight: 500 !important;
    color: #828f9f;
    line-height: 44px;
}
.first_graph {
    text-align: center;
    letter-spacing: 0.02em;
    width: 100%;
}
.first_graph p {
    margin: 0;
}
.first_graph_in {
    width: 940px;
    height: 357px;
    margin: 0 auto;
    background: url("../img/graphic1.png")no-repeat;
}
.detail {
    width: 100%;
    font-size: 20px;
    color: #fff;
    padding: 17px 0;
    margin: 30px auto 0;
}
.second_graph {
    position: relative;
    margin: 48px 0 0;
}
.second_graph .moscow_region2 {
    position: absolute;
    background: #e7e9ea;
    width: 360px;
    z-index: 300;
    margin: 0 0 0 29px;
}
.second_graph h2, .second_graph .moscow_region2 {display: inline-block;}
.second_graph h2 {margin: -18px 0 0;}
.moscow_region2 label {font-weight: bold;letter-spacing: 0.02em;margin: 0 0 0 30px;}
.moscow_region2 .trigger_demo2, .moscow_region2 .activetrigger_demo2, .moscow_region2 .dropcontainer_demo2 ul {
    width: 300px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(1, 2, 2, 0.26);
    -moz-box-shadow:    0px 1px 3px 0px rgba(1, 2, 2, 0.26);
    box-shadow:         0px 1px 3px 0px rgba(1, 2, 2, 0.26);
    outline: none;
}
.moscow_region2 .activetrigger_demo2 {border-bottom: 1px solid #babbbd;}
.moscow_region2 p {margin: 27px 0px;}
.second_graph_in {
    width: 990px;
    height: 550px;
    background: url("../img/graphic2.png")no-repeat;
    background-size: cover;
}
.mb {margin-bottom: 60px;}
.legend {margin: 20px 0 -20px;}
.legend_ul  {
    text-align: justify;
}
.legend_ul:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.legend_ul li {
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding: 0 0 0 20px;
}
.legend_ul li:before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    top:5px;
    left: 0;
}
.legend_ul li:nth-child(1):before {background: #ae7830;}
.legend_ul li:nth-child(2):before {background: #b79d25;}
.legend_ul li:nth-child(3):before {background: #ae892f;}
.legend_ul li:nth-child(4):before {background: #e7a614;}
.legend_ul li:nth-child(5):before {background: #f6cc00;}
.legend_ul li:nth-child(6):before {background: #e98900;}
/* ==========================================================================
   NEWS_BLOCK
   ========================================================================== */
.news_block h2, .all_news {display: inline-block;}
.news_block h2 {margin-bottom: 25px !important;}
.bar {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    background-color: #3d4858;
}
.all_news {
    position: relative;
    cursor: pointer;
    float: right;
    margin: 50px 0 0 0;
}
.all_news .bar_container{
    position: absolute;
    left: 0px;
    top: 2px;
}
.all_news a {
    color: #3d4858;
    text-decoration: underline;
    padding-left: 30px;
}
.all_news:hover .all_news_a {color: #f3851a;}
.all_news:hover .bar {background: #f3851a;}
.news_list {clear: both;}
.col {
    display: block;
    float:left;
    margin: 0 0 26px 36px;
}
.col:first-child { margin-left: 0; }
.span_1_of_3 {width: 306px;}
.news {cursor: pointer;}
.img_container {
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 169px;
}
.img_container figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: -0.135em;
    width: 100%;
    height: 100%;
}
.img_container figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 1;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
.img_container figure figcaption {
    width: 62px;
    background: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.img_container figure figcaption::before, .img_container figure figcaption::after {pointer-events: none;}
.img_container figure figcaption, .img_container figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img_container figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
figure.effect-zoe figcaption {
    left: auto;
    right: 0;
    top: 2px;
    padding: 0;
    width: 62px;
    height: 98%;
    background: #fff;
    color: #454545;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    border: 1px solid #e3e3e3;
    text-align: center;
}
.img_container figcaption span {display: block;}
.icon_eye {
    width: 31px;
    height: 17px;
    background: url("../img/eye.png")no-repeat;
    display: block;
    bottom: 11px;
    right: 15px;
    position: absolute;
}
.date {
    font: 30px/30px Arial, sans-serif !important;
    font-weight: bold;
    margin: 15px 0 0 !important;
}
.month {
    font-size: 15px;
    font-weight: bold;
    margin-top: -3px;
}
.year {
    font-size: 13px;
    color: #9f9f9f;
}
.news:hover figcaption,
.news:hover figcaption > span {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.news:hover .cover {
    background: #e7a614;
    opacity: 0.6;;
}
.news:hover img {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%);
}
.news_date {
    font-size: 12px;
    font-weight: bold;
    color: #a6a6a6;
    margin: 0 0 0 5px;
}
.news_title {
    color: #1f8dd5;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0 0 5px;
    font-size: 15px;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}
.news:hover .news_title {color: #f3851a;}
.news_text {
    font-size: 15px;
    margin: 0 0 0 5px;
}
.buttons {
    width: 100%;
    height: 26px;
    opacity: 0;
}
.news:hover .buttons {opacity: 1;}
.podel {
    display: inline-block;
    margin: 10px 3px 0 0;
}
.podel:last-child {margin-right: 0;}
.pod1 {
    width: 114px;
    height: 19px;
    background: url("../img/podel.png")no-repeat;
}
.pod2, .pod3, .pod4, .pod5, .pod6, .pod7, .pod8, .pod9 {
    width: 16px;
    height: 16px;
}
.pod2 {background: url("../img/podel2.png")no-repeat;}
.pod3 {background: url("../img/podel3.png")no-repeat;}
.pod4 {background: url("../img/podel4.png")no-repeat;}
.pod5 {background: url("../img/podel5.png")no-repeat;}
.pod6 {background: url("../img/podel6.png")no-repeat;}
.pod7 {background: url("../img/podel7.png")no-repeat;}
.pod8 {background: url("../img/podel8.png")no-repeat;}
.pod9 {background: url("../img/podel9.png")no-repeat;}
/* ==========================================================================
   BLOCK4
   ========================================================================== */
.block4 {
    background: #f8f8f8;
    position: relative;
}
.col_b4 {
    display: inline-block;
    margin: 54px 0 0 30px;
    vertical-align: top;
}
.col_b4:first-child {margin-left: 0;}
.part li a {
    font-size: 14px;
    color: #8e8e8e;
}
.part li a:hover {
    color: #333;
}
.part li {
    margin: 0 0 13px;
}
.i_map_cover {
    margin-top: 30px !important;
}
.i_map {
    position: relative;
    padding-left: 20px;
    font-weight: bold;
    color: #333 !important;
}
.i_map:before {
    position: absolute;
    content: "";
    background: url("../img/i_map.png")no-repeat;
    width: 11px;
    height: 16px;
    top: 0px;
    left: 0;
}
.government_ref {
    position: relative;
    padding: 0 0 27px 62px;
    font-size: 13px;
    line-height: 20px;
    color: #333;
}
.government_ref a {
    color: #1f8dd5;
    text-decoration: underline;
}
.government_ref:before {
    position: absolute;
    content: '';
   /* -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;*/
}
.gov1:before {
    background: url("../img/gogo1.png")no-repeat;
    width: 43px;
    height: 59px;
    left: 2px;
    top: -13px;
    background-position: 0 0;
}
.gov1:hover:before {
    background: url("../img/gogo1.png")no-repeat;
    background-position: 0 -59px;
}
.gov2:before {
    background: url("../img/gogo2.png")no-repeat;
    width: 46px;
    height: 62px;
    left: -2px;
    top: -7px;
    background-position: 0 0;
}
.gov2:hover:before {
    background: url("../img/gogo2.png")no-repeat;
    background-position: 0 -62px;
}
.gov3:before {
    background: url("../img/gogo3.png")no-repeat;
    width: 50px;
    height: 30px;
    left: -2px;
    top: 3px;
    background-position: 0 0;
}
.gov3:hover:before {
    background: url("../img/gogo3.png")no-repeat;
    background-position: 0 -30px;
}
.gov4:before {
    background: url("../img/gogo4.png")no-repeat;
    width: 55px;
    height: 26px;
    left: -5px;
    top: 4px;
    background-position: 0 0;
}
.gov4:hover:before {
    background: url("../img/gogo4.png")no-repeat;
    background-position: 0 -26px;
}
.gov5:before {
    background: url("../img/gogo5.png")no-repeat;
    width: 56px;
    height: 19px;
    left: -6px;
    top: 4px;
    background-position: 0 0;
}
.gov5:hover:before {
    background: url("../img/gogo5.png")no-repeat;
    background-position: 0 -19px;
}

.f-data {
    display: block;
    width: 231px;
    padding: 7px 10px 6px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    margin: 0 0 10px 3px;
    outline: none;
}
.f-data:focus, .f-message:focus {
    border: 1px solid #f3851a;;
}
.f-message {
    width: 231px;
    height: 125px;
    border: 1px solid #e1e1e1;
    margin: 0 0 15px 3px;
    padding: 7px 11px 7px 9px;
    resize: none;
    font-size: 14px;
    outline: none;
}
.f-send {float: right;}
.f-data::-webkit-input-placeholder, .f-message::-webkit-input-placeholder {color:#9e9e9e;}
.f-data::-moz-placeholder, .f-message::-moz-placeholder {color:#9e9e9e;}
.f-data:-ms-input-placeholder, .f-message:-ms-input-placeholder {color:#9e9e9e;}
.ref_back {
    max-width: 256px;
    margin: 47px 0 0 10px;
}
.ref_back p {
    margin: 0px 0 12px;
    font-size: 20px;
    color: #333;
}
.cont {margin: 54px 0 0 30px;}
.contact_p {
    margin: -6px 0 29px;
    font-size: 20px;
    line-height: 26px;
    color: #333;
}
.contact {
    display: block;
    color: #333;
    position: relative;
    margin: 0 0 20px;
}
.phone {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 25px;
}
.phone:before {
    position: absolute;
    content: '';
    background: url("../img/phone.png")no-repeat;
    width: 15px;
    height: 14px;
    left: 2px;
    top: 3px;
}
.address {
    font-size: 13px;
    padding: 0 0 0 25px;
    letter-spacing: 0;
}
.address:before {
    position: absolute;
    content: '';
    background: url("../img/geo.png")no-repeat;
    width: 13px;
    height: 18px;
    left: 3px;
    top: 1px;
}
.email {
    font-size: 13px;
    color: #1f8dd5;
    text-decoration: underline;
    padding: 0 0 0 25px;
    margin-bottom: 29px;
}
.email:before {
    position: absolute;
    content: '';
    background: url("../img/post.png")no-repeat;
    width: 15px;
    height: 12px;
    left: 3px;
    top: 3px;
}
.hour {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin: 0 0 11px;
    display: block;
}
.contact2 {
    display: block;
    color: #333;
    position: relative;
    margin: 0 0 27px;
}
.u_address {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 0 0 4px;
}
.u_address2 {
    font-size: 13px;
    line-height: 24px;
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
    background: #fff;
    padding: 25px 0;
}
.foot {display: inline-block}
.pay {
    background: url("../img/pay.png")no-repeat;
    width: 277px;
    height: 39px;
}
.policy {
    font-size: 14px;
    line-height: 21px;
    color: #1f8dd5;
    text-decoration: underline;
    margin: 0 75px 0 28px;
}
.f_soc {
    opacity: 0.4;
    margin: 0 4px 0 0;
    background: url("../img/socials.png")no-repeat;
    -webkit-transition: opacity 0.2s;
    -moz-transition:    opacity 0.2s;
    -o-transition:      opacity 0.2s;
    transition: opacity 0.2s;
}
.f_soc:hover {opacity: 1;}
.f_youtube{background-position: 0 0;}
.f_facebook{background-position: 0 -32px;}
.f_twitter{background-position: 0 -64px;}
.f_vk{background-position: 0 -96px;}
.f_gplus{background-position: 0 -128px;}
.f_life_journal{background-position: 0 -160px;}
.develop {
    float: right;
    font-size: 14px;
    color: #333;
    text-align: right;
}
.develop a {
    font-size: 14px;
    line-height: 21px;
    color: #1f8dd5;
    text-decoration: underline;
}
/***************map*******************/
.wrapper {
    margin:0 auto;
    width:600px;
    position:relative;
}
/*#transform{
    -o-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
}*/
#map {
    float:left;
    clear:both;
    width:600px;
    height:1000px;
    margin: -380px 0 0px;
}
.point {
    position:absolute;
    display:none;
    padding:9px 10px 12px;
    background:rgba(61,72,88,0.8);
    font: 20px Georgia, sans-serif;
    color: #fff;
    border-radius: 4px;
    margin: -410px 0 0px;
    z-index: 1000;
    min-width: 190px;
}
.point:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: rgba(61,72,88,0.8);
    border-width: 10px;
    margin-left: -10px;
}
/*.point .close {
    display:block;
    position:absolute;
    top:-10px;
    right:-10px;
    width:24px;
    height:24px;
    text-indent:-9999px;
    outline:none;
    background:url(../img/close.png) no-repeat;
}*/
.point img {
    vertical-align:middle;
    margin-right:10px;
}
a img {border:none;}
svg path {cursor: pointer;}
/***************anchors*******************/
.anchors_cont {
    position: fixed;
    top: 175px;
    right: 37px;
    z-index: 1000;
}
.anchors {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: block;
    position: relative;
    margin: 0 0 13px;
    -webkit-transition: 0.2s ease-in-out ;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.anchors span {
    font-size: 16px;
    color: #737c88;
    white-space: nowrap;
    position: absolute;
    left: -203px;
    top: 14px;
    display: none;
    width: 190px;
    text-align: right;
}
.first {
    background: url("../img/anchor1.png")no-repeat #6f879c;
    background-position: 50% 50%;
}
.second {
    background: url("../img/anchor2.png")no-repeat #6f879c;
    background-position: 50% 50%;
}
.third {
    background: url("../img/anchor3.png")no-repeat #6f879c;
    background-position: 50% 50%;
}
.fourth {
    background: url("../img/anchor4.png")no-repeat #6f879c;
    background-position: 50% 50%;
}
.anchors:hover {background-color: #566575;}
.anchors:hover span {display: block;}
.active1 a{background-color: #e47100 !important;}
.t_lift {padding: 13px 0 !important;}

@-moz-document url-prefix() {
    .plan {margin-right: -2px;}
    .plan2 tbody tr td {padding: 5.8px 0px;}
    .pict {position: static;}
    .effect-zoe figcaption {height: 97.5% !important;}
    .first_list .effect-zoe figcaption {top:3px !important;height: 97.3% !important;}
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 1180px) {
    .anchors_cont {display: none;}
}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
